body {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid none;
}

.main {
	font-family: 'Shadows Into Light', cursive;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.masthead {
	background-color: #000000;
	height: 75px;
	margin: 10px;
	line-height: 75px;
	text-align: center;
	border: 2px solid #000000;
	border-radius: 15px;
}

.masthead span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 50px;
	color: #ffffff;
}

.add-stuff {
	height: 60px;
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 60px;
	border: 2px solid #000000;
	border-radius: 15px;
}

.add-stuff span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 30px;
}

.stuff {
	width: 135px;
}

.add-stuff i {
	float: right;
	margin-top: 16px;
	font-size: 30px;
}

.add-stuff i:hover,
.need-list i:hover,
.got-list i:hover {
	cursor: pointer;
}

.note-paper {
	background-image: url('../images/note-paper.png');
	background-repeat: no-repeat;
	background-size: 400px 325px;
}

.need-list ul {
	height: 250px;
	margin: 10px;
	padding-top: 15px;
	font-size: 20px;
	text-align: left;
	list-style-type: none;
	border: 2px solid #000000;
	border-radius: 15px;
	overflow-x: hidden;
}

.need-list i {
	display: inline-block;
	float: right;
	padding-right: 25px;
	font-size: 25px;
	letter-spacing: 10px;
}

.shopping-cart {
	background-image: url('../images/shopping-cart.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 400px 325px;
}

.got-list ul {
	height: 250px;
	margin: 10px;
	padding-top: 15px;
	font-size: 20px;
	text-align: left;
	list-style-type: none;
	text-decoration: line-through;
	border: 2px solid #000000;
	border-radius: 15px;
	overflow-x: hidden;
}

.got-list i {
	display: inline-block;
	float: right;
	padding-right: 25px;
	font-size: 25px;
	letter-spacing: 10px;
}

@media only screen and (max-width: 405px) {
 	.add-stuff span {
    font-size: 20px;
  }  
}